<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>


<h3><{$smarty.const._MD_XSNS_TITLE_MYPAGE_FOOTPRINT}></h3>

<{$smarty.const._MD_XSNS_MYPAGE_FOOTPRINT_DESC|sprintf:"`$user_name`"}>

    <{if $footprint_count > 0}>

    <div layout="column">
        <div self="my-6">
            <{$smarty.const._MD_XSNS_MYPAGE_FOOTPRINT_COUNT}> <span class="badge"><{$footprint_count|number_format}></span>
        </div>

        <{foreach item=footprint from=$footprint_list}>
            <p><{$footprint.time|date_format:"%Y-%m-%d %H:%M:%S"}> <a href="<{$footprint.url}>"><{$footprint.uname}></a></p>
        <{/foreach}>

    </div>
<{/if}>
