<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>

<{$form_friend_add_submit}>

<h2><{$smarty.const._MD_XSNS_FRIEND_ADD}></h2>

<div class="tips"><{$smarty.const._MD_XSNS_FRIEND_ADD_DESC}></div>


<a href="<{$user.page_url}>"><img src="<{$user.avatar_url}>" width="<{$user.avatar_width}>" height="<{$user.avatar_height}>" alt=""></a>

<{$smarty.const._MD_XSNS_USER_NAME}>

<a href="<{$user.page_url}>"><{$user.name}></a>



<{$smarty.const._MD_XSNS_MEMBER_LAST_LOGIN}>
<{$user.last_login|date_format:"%Y-%m-%d %H:%M:%S"}>


<{$smarty.const._MD_XSNS_MEMBER_REQUEST_MESSAGE}>
<textarea name="message" cols="40" rows="5"></textarea>


<input type="submit" class="submit" value="<{$smarty.const._MD_XSNS_BTN_SEND}>">&nbsp;&nbsp;
<input type="button" class="submit" value="<{$smarty.const._MD_XSNS_BTN_CANCEL}>" onclick="javascript:history.go(-1);">

</form>


