<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>


<{if $is_own_page==1}>
<p><a class="ui-button" href="<{$url.module_config}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_CONFIG}></a></p>

<{/if}>



	<!-- start module search results loop -->
	<{foreach item=module from=$module_list}>

	<table class="outer">
	<tr class="head"><th><a href="<{$module.url}>"><{$module.name}></a></th></tr>
	<tr class="even">
		<td>
			<!-- start results item loop -->
			<{foreach item=result from=$module.results}>
			<img src="<{$result.image}>" style="vertical-align:middle;" alt="<{$module.name}>" />
			<b><a href="<{$result.link}>"><{$result.title}></a></b><br>
			<div style="text-align:right;"><small><{$result.time}></small></div>
			<{/foreach}>
			<!-- end results item loop -->
	<!-- <{$module.showall_link}> -->
		</td>
	</tr>
	</table>

<br>
	
	<{/foreach}>
	<!-- end module search results loop -->
