<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>


<{if !empty($info_list)}>
	<{foreach item=info from=$info_list}>
	<div class="confirm">
		<a href="<{$info.url}>"><{$info.message}></a>
		<span class="badge"><{$info.time|date_format:"%Y-%m-%d %H:%M:%S"}></span>
	</div>
	<{/foreach}>

<{/if}>


<div layout="rows sm-column">


	<div layout="column" self="size-1of3 mr-2">


		<div class="card" self="mb-7">
			<div class="card-title"><{$smarty.const._MD_XSNS_MYPAGE_PROFILE|sprintf:"`$user_info.name`"}></div>
			<div class="card-content">
				<!-- User Information : Start -->

				<{if $user_info.avatarurl != NULL}>
				<h6><{$smarty.const._US_AVATAR}></h6>
				<div><{$user_info.avatarurl}></div>
				<{/if}>

				<{if $user_info.name != NULL}>
				<h6><{$smarty.const._US_USERNAME}></h6>
				<div><{$user_info.name}></div>
				<{/if}>

				<{if $user_info.realname != NULL}>
				<h6><{$smarty.const._US_REALNAME}></h6>
				<div><{$user_info.realname}></div>
				<{/if}>

				<{if $user_info.rank != NULL}>
				<h6><{$smarty.const._US_RANK}></h6>
				<div><{$user_info.rank}>&nbsp;<{$user_info.ranktitle}>&nbsp;(<{$smarty.const._US_POSTS}>:<{$user_info.posts}>)</div>
				<{/if}>

				<{if $user_info.websiteurl != NULL}>
				<h6><{$smarty.const._US_WEBSITE}></h6>
				<div><{$user_info.websiteurl}></div>
				<{/if}>

				<{if $user_info.email != NULL}>
				<h6><{$smarty.const._US_EMAIL}></h6>
				<div><{$user_info.email}></div>
				<{/if}>

				<{if $user_info.pmlink != NULL}>
				<h6><{$smarty.const._US_PM}></h6>
				<div><{$user_info.pmlink}></div>
				<{/if}>

				<{if $user_info.icq != NULL}>
				<h6><{$smarty.const._US_ICQ}></h6>
				<div><{$user_info.icq}></div>
				<{/if}>

				<{if $user_info.aim != NULL}>
				<h6><{$smarty.const._US_AIM}></h6>
				<div><{$user_info.aim}></div>
				<{/if}>

				<{if $user_info.yim != NULL}>
				<h6><{$smarty.const._US_YIM}></h6>
				<div><{$user_info.yim}></div>
				<{/if}>

				<{if $user_info.msnm != NULL}>
				<h6><{$smarty.const._US_MSNM}></h6>
				<div><{$user_info.msnm}></div>
				<{/if}>

				<{if $user_info.location != NULL}>
				<h6><{$smarty.const._US_LOCATION}></h6>
				<div><{$user_info.location}></div>
				<{/if}>

				<{if $user_info.occupation != NULL}>
				<h6><{$smarty.const._US_OCCUPATION}></h6>
				<div><{$user_info.occupation}></div>
				<{/if}>

				<{if $user_info.interest != NULL}>
				<h6><{$smarty.const._US_INTEREST}></h6>
				<div><{$user_info.interest}></div>
				<{/if}>

				<{if $user_info.signature != NULL}>
				<h6><{$smarty.const._US_SIGNATURE}></h6>
				<div><{$user_info.signature}></div>
				<{/if}>

				<{if $user_info.extrainfo != NULL}>
				<h6><{$smarty.const._US_EXTRAINFO}></h6>
				<div><{$user_info.extrainfo}></div>
				<{/if}>


                <{if $user_info.reg_date != NULL}>
                <h6><{$smarty.const._US_MEMBERSINCE}></h6>
                <div><{$user_info.reg_date|date_format:"%Y-%m-%d %H:%M:%S"}></div>
                <{/if}>

                <{if $user_info.last_login != NULL}>
                <h6><{$smarty.const._US_LASTLOGIN}></h6>
                <div><{$user_info.last_login|date_format:"%Y-%m-%d %H:%M:%S"}></div>
                <{/if}>

			</div><{* ----- Card content *}>
<!--			<div class="card-footer"></div>-->
		</div><{* ----- Card *}>
		<!-- User Information : End -->



		<{if $friend_list|@count > 0}>
		<!-- Friend List : Start -->
		<div class="card" self="mb-7">

			<div class="card-title">
				<{$smarty.const._MD_XSNS_MYPAGE_FRIEND_LIST|sprintf:"`$user_info.name`"}>
			</div>

			<div class="card-content">

				<div>
				<{section name=id loop=$friend_list}>

				<{if $smarty.section.id.index > 0 && $smarty.section.id.index is div by 3}>
				</div><div>
				<{/if}>

				<div style="width:50px; height:50px;">
					<{if $friend_list[id]}>
					<a href="<{$friend_list[id].page_url}>">
						<img src="<{$friend_list[id].avatar_url}>" width="<{$friend_list[id].avatar_width}>" height="<{$friend_list[id].avatar_height}>" alt="<{$friend_list[id].name}>" title="<{$friend_list[id].name}>">
						<br>
						<small><{$friend_list[id].name|truncate:11}></small>
					</a>
					<{/if}>
				</div>

				<{/section}>
				</div>

			</div><{* ----- Card content *}>

				<div class="card-footer">
					<a class="ui-button" href="<{$url.friend_list_all}>"><{$smarty.const._MD_XSNS_SHOW_ALL}> (<{$friend_count|default:0}>)</a>
				</div>

		</div><{* ----- Card *}>
		<!-- Friend List : End -->
		<{/if}>



		<{if $commu_list|@count > 0}>
		<!-- Community List : Start -->
		<div class="card" self="mb-7">

			<div class="card-title">
				<{$smarty.const._MD_XSNS_MYPAGE_COMMU_LIST|sprintf:"`$user_info.name`"}>
			</div>

			<div class="card-content">

				<div>
				<{section name=id loop=$commu_list}>

				<{if $smarty.section.id.index > 0 && $smarty.section.id.index is div by 3}>
				</div><div>
				<{/if}>

				<div class="centerHV" style="width:85px;height:85px;">
					<{if $commu_list[id]}>
					<a href="<{$commu_list[id].page_url}>">
						<img src="<{$commu_list[id].image.url_src|default:"$xoops_url/modules/$mydirname/images/cm_commu_default1.gif"}>" alt="<{$commu_list[id].name}>
						(<{$commu_list[id].member_count}>)" title="<{$commu_list[id].name}> (<{$commu_list[id].member_count}>)">
						<!--<br><small><{$commu_list[id].name}> (<{$commu_list[id].member_count}>)</small>-->
					</a>
					<{/if}>
				</div>

				<{/section}>
				</div>

			</div><{* ----- Card content *}>

			<div class="card-footer">
				<a class="ui-button" href="<{$url.commu_list_all}>"><{$smarty.const._MD_XSNS_SHOW_ALL}> (<{$commu_count|default:0}>)</a>
			</div>

		</div><{* ----- Card *}>

		<!-- Community List : End -->
		<{/if}>

	</div><{* ----- column left *}>



	<div layout="column" self="size-x1 ml-2">

		<{if $blog_list|@count > 0}>
		<!-- Blog List : Start -->
		<div class="card" self="mb-7">

			<div class="card-title">
			<{if $is_own_page}>
				<{$smarty.const._MD_XSNS_MYPAGE_BLOG_LIST}>
			<{else}>
				<{$smarty.const._MD_XSNS_MYPAGE_FRIEND_BLOG_LIST|sprintf:"`$user_info.name`"}>
			<{/if}>
			</div>

			<div class="card-content">
				<{foreach item=blog from=$blog_list}>
				<div layout="row center-justify my-4">
					<h4><a href="<{$blog.link}>"><img src="<{$blog.image}>"> <{$blog.title}></a></h4>
					<div><small><a href="<{$blog.link_author}>"><{$blog.author}></a></small> <span class="badge"><{$blog.time}></span></div>
				</div>
				<{/foreach}>
			</div>

			<div class="card-footer">
			<{if $is_own_page}>
				<a class="ui-button" href="<{$url.blog_list_all}>"><{$smarty.const._MD_XSNS_SHOW_ALL}> (<{$blog_count|default:0}>)</a>
			<{else}>
				<a class="ui-button" href="<{$blog_list.0.link_author}>"><{$smarty.const._MD_XSNS_SHOW_ALL}> (<{$blog_count|default:0}>)</a>
			<{/if}>
			</div>
		<!-- Blog List : End -->
		</div><{* ----- card *}>
		<{/if}>


		<{if $topic_list|@count > 0}>
		<!-- New Topic List : Start -->
		<div class="card" self="mb-7">

			<div class="card-title">
				<{$smarty.const._MD_XSNS_MYPAGE_TOPIC_LIST}>
			</div>

			<div class="card-content">
				<{foreach item=topic from=$topic_list}>
				<div layout="row center-justify my-4">
					<h4><{$topic.commu_name}> : <a href="<{$topic.url}>"><{$topic.name}></a></h4>
					<div><span class="badge"><{$topic.time|date_format:"%Y-%m-%d %H:%M:%S"}></span></div>
				</div>
				<{/foreach}>
			</div>

			<div class="card-footer">
				<a class="ui-button" href="<{$url.topic_list_all}>"><{$smarty.const._MD_XSNS_SHOW_ALL}> (<{$topic_count|default:0}>)</a>
			</div>


		</div><{* ----- card *}>
		<!-- New Topic List : End -->
		<{/if}>


		<{if $intro_list|@count > 0}>
		<!-- Intro List : Start -->
		<div class="card" self="mb-7">

			<div class="card-title">
				<{$smarty.const._MD_XSNS_MYPAGE_INTRO_LIST}>
			</div>

			<div class="card-content">
			<{foreach item=intro from=$intro_list}>
				<div>
					<{$intro.body}>
					<div style="text-align:right"><a href="<{$intro.user_from.page_url}>"><{$intro.user_from.name}></a></div>
				</div>
			<{/foreach}>
			</div>

			<div class="card-footer">
				<a class="ui-button" href="<{$url.intro_list_all}>"><{$smarty.const._MD_XSNS_SHOW_ALL}> (<{$intro_count}>)</a>
			</div>

		</div><{* ----- card *}>
		<!-- Intro List : End -->
		<{/if}>

	</div><{* ----- column *}>


</div>
