<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>


<{if $is_own_page==1}>
<p><a class="ui-button" href="<{$url.module_config}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_CONFIG}></a></p>

<{/if}>



	<!-- start module search results loop -->
	<{foreach item=module from=$module_list}>

	<h3><a href="<{$module.url}>"><{$module.name}></a></h3>

	<!-- start results item loop -->
	<{foreach item=result from=$module.results}>
	<div layout="row center-justify my-4">
		<div>
			<img src="<{$result.image}>" style="vertical-align:middle;" alt="<{$module.name}>">
			<a href="<{$result.link}>"><{$result.title}></a>
		</div>
		<span class="badge"><{$result.time}></span>
	</div>
	<{/foreach}>
	<!-- end results item loop -->
	<!-- <{$module.showall_link}> -->
	<hr>
	<{/foreach}>
	<!-- end module search results loop -->
