<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>


<h2><{$smarty.const._MD_XSNS_TITLE_MYPAGE_INTRO_LIST}></h2>

<{if $intro_list|@count > 0}>

<p><{$pager.selector}> <{$pager.description}></p>


<{foreach item=intro from=$intro_list}>

    <div layout="row sm-column">

        <div self="sm-full p-2">
            <a href="<{$intro.user_from.page_url}>" aria-label="<{$smarty.const._MD_XSNS_AVATAR}>"><img src="<{$intro.user_from.avatar_url}>" alt="<{$intro.user_from.name}>"></a>
            <br>
            <a href="<{$intro.user_from.page_url}>" aria-label="<{$smarty.const._MD_XSNS_USER_NAME}>"><{$intro.user_from.name}></a>
        </div>

        <div self="self-x1 sm-full p-2">

            <div aria-label="<{$smarty.const._MD_XSNS_MYPAGE_INTRO_BODY}>">
                <{$intro.body}>
            </div>

            <{if $is_xoops_admin || $intro.user_from.uid==$uid_from || $uid_to==$uid_from}>
            <div style="text-align:right;">
                <a href="<{$url.intro_delete}><{$intro.user_from.uid}>"><{$smarty.const._MD_XSNS_MYPAGE_INTRO_DEL}></a>
            </div>
            <{/if}>

        </div>

    </div>

<{/foreach}>


<p><{$pager.selector}> <{$pager.description}></p>

<{/if}>
